@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

body {
	background: #161616;
}

#calc_bg {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #090909;
    border-radius: 2em;
    padding: 1em;
}

.results {
    width: 100%;
    min-height: 8em;
}

.results>p {
    padding: 0 0em;
    text-align: right;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 4em;
    line-height: 0em;
}

.grey {
    color: black;
    background-color: #D4D4D2;
}

.operator {
    background-color: #FF9500;
}

.double {
    width: 46%;
}

.grey:active {
    background-color: #a1a1a1;
}

.operator:active {
    background-color: #ac6400;
}

span {
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 2em;
    color: white;
    border-radius: 25em;
    background-color: #505050;
    width: 22%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 2.5%;
    line-height: 88px;
    text-align: center;
}

span:active{
    background-color: #303030;
}